google-adk[database]==0.3.0
yfinance~=0.2.66
psutil~=7.1.0
litellm~=1.78.3
google-generativeai
soupsieve~=2.8
beautifulsoup4~=4.14.2
h11~=0.16.0
anyio~=4.11.0
pywin32~=311
python-dotenv~=1.1.1
mcp~=1.18.0
pydantic~=2.12.3
httpx~=0.28.1
httpx-sse~=0.4.3
jsonschema~=4.25.1
websockets~=15.0.1
starlette~=0.48.0
sse-starlette~=3.0.2
pydantic-settings~=2.11.0
pip~=25.2
attrs~=25.4.0
zlib~=1.3.1
distro~=1.9.0
wheel~=0.45.1
protobuf~=5.29.5
openssl~=3.0.18
cryptography~=46.0.3
filelock~=3.20.0
rsa~=4.9.1
pyasn1~=0.6.1
cffi~=2.0.0
setuptools~=80.9.0
grpcio~=1.75.1
pytz~=2025.2
requests~=2.32.5
colorama~=0.4.6
pyyaml~=6.0.3
idna~=3.11
multidict~=6.7.0
propcache~=0.4.1
zipp~=3.23.0
sniffio~=1.3.1
click~=8.3.0
httpcore~=1.0.9
jiter~=0.11.1
numpy~=2.3.4
charset-normalizer~=3.4.4
proto-plus~=1.26.1
regex~=2025.9.18
fsspec~=2025.9.0
aiohttp~=3.13.1
yarl~=1.22.0
graphviz~=0.21
fastapi~=0.119.0
uvicorn~=0.37.0
authlib~=1.6.5
google-cloud-aiplatform~=1.121.0
google-api-python-client~=2.185.0
sqlalchemy~=2.0.44
tzlocal~=5.3.1
python-dateutil~=2.9.0.post0
pandas~=2.3.3
pyasn1-modules~=0.4.2
cachetools~=6.2.1
certifi~=2025.10.5
urllib3~=2.5.0
packaging~=25.0
google-crc32c~=1.7.1
shapely~=2.1.2
tqdm~=4.67.1
tenacity~=8.5.0
grpcio-status~=1.71.2
httplib2~=0.31.0
markupsafe~=3.0.3
openai~=2.5.0
aiosignal~=1.4.0
frozenlist~=1.8.0
python-multipart~=0.0.20
aiohappyeyeballs~=2.6.1
tiktoken~=0.12.0
tokenizers~=0.22.1
importlib-metadata~=8.7.0
jinja2~=3.1.6
peewee~=3.18.2
six~=1.17.0
greenlet~=3.2.4
pyparsing~=3.2.5
annotated-types~=0.7.0
frozendict~=2.4.6
platformdirs~=4.5.0
multitasking~=0.0.12
pycparser~=2.23
referencing~=0.37.0
jsonschema-specifications~=2025.9.1
uritemplate~=4.2.0
google-auth-httplib2~=0.2.0
huggingface-hub~=0.35.3
docstring-parser~=0.17.0